<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826657086697-18qd3rii0gh0rd1mtmr7t3bf3m9q8tvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826657086697-18qd3rii0gh0rd1mtmr7t3bf3m9q8tvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826657086697-dn0v888kouufaham2bpno3sl2d6v1g9h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCQjzF8fARBaihty4R8Crhvv4EGDJ3BPM</string>
	<key>GCM_SENDER_ID</key>
	<string>826657086697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.readreminder.readReminder</string>
	<key>PROJECT_ID</key>
	<string>f40-bootcamp-project</string>
	<key>STORAGE_BUCKET</key>
	<string>f40-bootcamp-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826657086697:ios:ab01f86edfa210cdfc6478</string>
</dict>
</plist>